{% extends 'travel/base.html' %}

{% block body %}

<form action="{% url 'bill_tracker:edit_bill' %}" method='POST'>
    {% csrf_token %}
    <div class="form-group row py-2">
        <input type="hidden" name="html_id" value="{{bill.id}}" class="col-6 ml-3" placeholder="Description">
        <input type="text" name="html_desc" value="{{bill.desc}}" class="col-6 ml-3" placeholder="Description">
        <input type="text" name="html_amount" value="{{bill.amount}}" class="col-2 ml-2" placeholder="Amount">
        <button class="btn btn-primary ml-2" >Save</button>
        <a class="btn btn-secondary ml-2" href="{% url 'bill_tracker:index' %}">Cancel</a>
    </div>
</form>

{% include 'travel/errors.html' %}

{% endblock %}